*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header{
    background-color: #ca6d34;
    color: white;
    text-align: center;
}
.text-primary{
    font-size: 1.9rem;
    margin-bottom: 15px;
    font-weight: bolder;
}
.text-secondary{
    font-weight: 700;
}
h1{
    font-size: 2rem;
}
.menu {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.hero-section{
    background-image: url("img/hero.jpg");
    background-size: cover;
    padding: 30px 15px;
}
.hero-section h2{
    font-size: 1.8rem;
}
.hero-section p{
    margin-top: 20px;
    word-spacing: 0.5em;
    margin-bottom: 30px;

}
.btn{
    background-color: orangered;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.842);
}

main{
    width: 90%;
    margin: 0 auto;
}
#propos{
    margin-bottom: 3em;
}
section {
    text-align: center;
    margin: 40px 0;
}

#notre-menu img{
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

#notre-menu div{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 19px;
}
#notre-menu article{
    width: 100%;

}
form{
    text-align: start;
}
form input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid grey;
    margin-bottom: 8px;


}
form label{
    font-weight: 600;

}

footer{
    background-color: #ca6d34;
    color: white;
    text-align: center;
    padding: 15px 30px;
}
footer p {
    word-spacing: 0.6em;
}

@media screen and (min-width: 426px){
    .menu{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    #notre-menu article{
        width: calc(50% - 20px);
    }
}
@media screen and (min-width: 768px){
    #notre-menu article{
        width: calc(34% - 20px);
    }
    #notre-menu div{
        justify-content: space-between;
    }
    #form {
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: space-between;
    }
    #form article, form {
        width: 100%;
    }
}
@media screen and (min-width: 1024px){  
    #notre-menu article{
        width: calc(25% - 20px);
    }
    #form article, form {
        width: 100%;
    }
}
